/*body*/
body {
  font-family: "Roboto", sans-serif;
}
/*End body*/

/* Content*/
.page-content{
      min-height: calc(100vh - 56px);
}
/*End Content*/

/*Home Page*/
.callout-container {
  background: url("../image/hero-image.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #8f8f8f;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}
#landing-text {
    color: #ffffff;
    font-family: 'Expo',sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 10px 10px 40px #fafafa;
    margin-bottom: 50px;
    margin-top: 20%; 
} 
@media screen and (max-width: 768px) {
  #landing-text {
    font-size:10px;
    margin-top: 30%;
  }
}
/*End Home Page*/


/*About Gothenburg Page*/
.card-img {
  width: 100%;
  height:500px;
  border-radius: calc(0.25rem - 1px);
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.overlay-card {
  width: 100%;
  height: 100vh;
  border-radius: calc(0.25rem - 1px);
}
.card-img-overlay {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  font-size: 60px;
  font-family: "Expo";
  font-weight: bolder;
  align-items: center;
  text-align: center;
}
.card-img-top {
  width: 100%;
  height: 800px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  margin: 0px;
  padding: 10px;
}
.card-body {
  font-family: "Expo";
  margin-top: 0px;
}
.card-title {
  margin-top: 50px;
  margin-bottom: 0.75rem;
  font-size: 40px;
  font-weight: bold;
  font-family: "Expo";
}
.card-text {
    margin-top:20px;
    font-size:20px;
    font-family:"Expo";
}
#myBtn {display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 140px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
@media screen and (max-width: 768px) {
  .card-title {
      font-size: 30px;
  }
  .card-text {
      font-size:20px;
  }
}
@media screen and (max-width: 500px) {
  .card-img {
    padding-top: 50px;
  }
  .card-title {
      font-size: 30px;
  }
}

/*End About Gothenburg Page*/

/*Attraction Page*/
.attract-top-text {
    padding-top: 50px;
    margin:20px;
    align-items: center;
}
.page-heading {
    background-color: #002a4e;
    color: white;
    font-size: 25px;
    font-family: "Expo";
    width: 100%;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}
.attract-tag {
    margin: 20px;
}
.attract-item {
    background-color: #002a4e;
    color: #ffffff;
    font-size: 20px;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
@media screen and (max-width: 500px) {
  .overlay-card {
    height:500px;
  }
  .card-img-top {
      height: 400px;
  }
}
#myBtnAtt {display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 140px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtnAtt:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* End Attraction Page*/

/*Restaurant Page*/
.food-guide {
    align-items: center;
    text-align: center;
    font-family: "Expo";
    font-size: 20px;
    padding: 50px;
    margin: 30px;
}
@media screen and (max-width: 500px) {
  .overlay-card {
    height:500px;
  }
  .card-img {
      height: 400px;
  }
  .food-guide {
    padding:20px;
    margin:20px;
  }
  
}
/*End Restaurant Page*/

/*Explore Map*/
div#map {min-height: 500px;}
#controls {
  
  padding:20px;
  margin:20px;
  background-color: #002a4e;
}
#location {
  width: 100%;
  font-size: 20px;
}

/*End explore map*/

/*Contact Page*/
.message-container {
  background: url("../image/contact.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dimgray;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}
.message-box {
  background-color: rgba(00,42,78,0.5);
  padding: 2rem 1rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 300px;
  font-family: "expo";
  color: white;
}
.header-form {
    font-size:20px;
}

/*End Contact Page*/

/*Header*/
.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color:#002a4e;
  border: 0;
  display: flex !important;
  padding-left: 0.6rem;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-family: "Expo";
  font-weight: bold; 
}
.navbar .navbar-toggler {
  border: 0;
}
.navbar .navbar-nav a {
  font-weight: bold;
}
.ml-auto {
  margin-left: inherit;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
/*End Header*/

/*footer*/
.footer {
  background-color:#002a4e; 
  color: #fafafa;
  min-height: 80px;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
}
.social-links {
  padding-bottom: 10px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #e84610;
}
#footer-details {
  padding: 10px;
  font-family: "Expo";
  text-align: center;
}
/*End Footer*/

/*Button*/
.btn--cta {
  font-weight: bold;
  border-radius: 15px;
}
.btn--cta:hover {
    color: white;
}
.btn-blue {
    background-color: #002a4e;
    color: #ffffff;
    width: 300px;
    margin:10px;
}
.btn-dblue {
    background-color: #002a4e;
    color: #ffffff;
    width: 150px;
    margin:10px;
}
.btn-yellow {
    background-color: #f5980c;
    color: #ffffff;
    width: 100px;
    margin: 10px;
    align-items: right;
}
/*End Button*/
a {
    color: white;
}
@media screen and (max-width: 500px) {
  .btn-blue {
    width: 200px;
  }
}
